name: test actions

on: 
  pull_request:
  workflow_dispatch:

jobs:
  test_installers:
    name: Test installs
    strategy:
      matrix:
        version: ["latest", "main", "v0.5.7"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    env:
      example_user: "demo$user"
      example_pass: "example$pass\\word'\"with#special&chars"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        if: ${{ matrix.version == 'main' }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25.x

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v3.0.4"

      - name: Install regctl
        uses: ./regctl-installer/
        with:
          release: "${{ matrix.version }}"

      - name: Verify install
        run: regctl version

      - name: Install regsync
        uses: ./regsync-installer/
        with:
          release: "${{ matrix.version }}"

      - name: Verify install
        run: regsync version

      - name: Install regbot
        uses: ./regbot-installer/
        with:
          release: "${{ matrix.version }}"

      - name: Verify install
        run: regbot version

      - name: Login
        uses: ./regctl-login/

      - name: Login
        uses: ./regctl-login/
        with:
          registry: "localhost:5000"
          username: "${{ env.example_user }}"
          password: "${{ env.example_pass }}"
          options: "--skip-check"

      - name: Check the git working directory
        shell: bash
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            echo 'install modified working directory'
            exit 1
          else
            exit 0
          fi

      - name: Verify credentials were set
        shell: bash
        env:
          expect_gh_user: ${{ github.actor }}
          expect_gh_token: ${{ github.token }}
        run: |
          gh_user="$(jq -r '.hosts."ghcr.io".user' <~/.regctl/config.json)"
          gh_token="$(jq -r '.hosts."ghcr.io".pass' <~/.regctl/config.json)"
          echo "::add-mask::$gh_token"
          if [ "$gh_user" != "$expect_gh_user" ] || [ "$gh_token" != "$expect_gh_token" ]; then
            echo "default login did not save expected values" >&2
            exit 1
          fi
          local_user="$(jq -r '.hosts."localhost:5000".user' <~/.regctl/config.json)"
          local_pass="$(jq -r '.hosts."localhost:5000".pass' <~/.regctl/config.json)"
          if [ "$local_user" != "$example_user" ] || [ "$local_pass" != "${example_pass}" ]; then
            echo "localhost:5000 login did not save expected values" >&2
            exit 1
          fi
